@import "bourbon";
@import "components/reset";

body {
  font-family: sans-serif;
}

textarea, pre, code {
  font: 13px Menlo, Monaco, monospace;
}

textarea {
  @include box-sizing(border-box);
  display: block;
  border: 0;
  outline: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

footer {
  color: #999;
  text-align: center;
  font-size: 0.9em;

  a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}
